@tailwind base;
@tailwind components;
@tailwind utilities;

.score {
  @apply p-2 m-2 w-48 rounded-md bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none;
}

.score-high {
  @apply bg-gray-200;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.tile-new {
  animation: appear 200ms ease 100ms;
  animation-fill-mode: backwards;
}

.tile-merged {
  animation: pop 200ms ease 100ms;
  animation-fill-mode: backwards;
}

/** Tile Colour Start **/

.tile-0 {
  @apply bg-zinc-100;
}

.tile-2 {
  @apply bg-stone-100 text-stone-500;
}

.tile-4 {
  @apply bg-orange-100 text-stone-600;
}

.tile-8 {
  @apply bg-orange-300 text-white;
}

.tile-16 {
  @apply bg-orange-400 text-white;
}

.tile-32 {
  @apply bg-red-400 text-white;
}

.tile-64 {
  @apply bg-red-500 text-white;
}

.tile-128 {
  @apply bg-yellow-250 text-white shadow-lg shadow-yellow-250/50;
}

.tile-256 {
  @apply bg-amber-250 text-white shadow-lg shadow-yellow-250/50;
}

.tile-512 {
  @apply bg-amber-300 text-white shadow-lg shadow-yellow-300/50;
}

.tile-1024 {
  @apply bg-yellow-300 text-white shadow-lg shadow-yellow-300/50;
}

.tile-2048 {
  @apply bg-yellow-400 text-white shadow-lg shadow-yellow-400/50;
}

.tile-4096 {
  @apply bg-teal-400 text-white shadow-lg shadow-yellow-500/50;
}

/** Tile Colour End **/
